.home-page {
  font-family: "Poppins", sans-serif !important;
}

.home-page-basic-mx {
  padding: 50px 100px 0px 100px;
}

.bg-yellows {
  background-color: #ffbf00;
  margin-top: 70px !important;
}

/* homepage nav starts here  */

.dep-main-menu-container {
  display: flex;
  justify-content: space-between;
}

.dep-menu-logo-container > img {
  width: 180px;
  height: 35px;
}

.dep-menu-container {
  display: flex;
  align-items: center;
}

.dep-menu-container ul {
  display: flex;
}

.dep-menu-container ul li {
  list-style: none;
  color: #fc0;
  text-decoration: none;
  position: relative;
  font-size: 17px;
  font-weight: 400;
  margin: 0px 23px !important;
  font-family: "DM Sans", sans-serif;
  white-space: nowrap;
  cursor: pointer;
}

.dep-menu-container ul li::after {
  position: absolute;
  top: 26px;
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fc0;
  transition: width 0.6s;
  right: 0;
  left: initial;
}

.dep-menu-container ul li:hover::after {
  width: 100%;
  right: initial;
  left: 0;
  transition: width 1s;
}

.dep-btn-0 {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  width: 200px;
  margin: 1rem auto;
  border: 1px solid #fc0;
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 15px;
  text-decoration: none;
  margin-left: 20px !important;
}

.dep-btn-0 {
  color: #fc0;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fc0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
    z-index: -1;
  }
  &:hover {
    color: black;
    font-weight: 600;

    &:before {
      transform: translateX(0);
    }
  }
}

/* homepage nav ends here  */

/* homepage hero starts here  */

.dep-hero-sectiom {
  padding: 60px 0px 60px 0px;
}

.dep-hero-right-side .title {
  font-size: 70px;
  line-height: 72px;
  color: white;
  font-weight: 700;
  text-align: center;
}
.dep-hero-right-side .title.gradient-color {
  background: linear-gradient(90deg, #ff007a, #ffcc00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}
.dep-hero-right-side .dep-peoples-with-info {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  font-size: 18px;
  font-weight: 400;
}
.dep-hero-right-side .dep-peoples-with-info > img {
  height: 55px;
}

.dep-hero-right-side .btns {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px !important;
  align-items: center;
}
.dep-hero-right-side .btns a {
  margin: 1rem auto;
  border-radius: 5px;
  line-height: 35px;
  text-align: center;
  padding: 8px 40px;
  font-size: 15px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.dep-hero-right-side .btns a:first-child {
  color: black;
  background-color: #fc0;
  font-weight: 500;
}

.dep-hero-right-side .btns a:nth-child(2) {
  border: 1px solid #fc0;
  color: #fc0;
}

.dep-hero-right-side .btns .first-btn:hover,
.dep-hero-right-side .btns .sec-btn:hover {
  transform: scale(1.03);
}

.dep-hero-right-side .application-link {
  display: flex;
  justify-content: center;
}

.dep-hero-right-side .application-link a {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  line-height: 35px;
  text-align: center;
  padding: 8px 10px;
  font-size: 15px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: white;
  width: fit-content;
  border: 1px solid white;
}

.dep-hero-right-side .application-link a:hover {
  color: white;
}

.dep-hero-right-side .application-link span:first-child {
  line-height: 14px;
}

.dep-hero-right-side .application-link .store-name {
  font-size: 25px;
  font-weight: 600;
  line-height: 28px;
}

.dep-hero-right-side .application-link .hero-image-container {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image-container .main-img {
  display: flex;
  justify-content: center;
}

.hero-image-container .main-img > img {
  height: 100%;
  height: 600px;
}
.hero-image-container .horn-img > img {
  position: absolute;
  top: 270px;
  left: 50px;
  animation: verticalMove 10s ease-in-out infinite;
}

@keyframes verticalMove {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
/* homepage hero ends here  */

/* RSVP-sections starts here */

.RSVP-Section {
  padding-top: 40px;
  padding-bottom: 69px;
}
.tool-management-container .RSVP-description,
.RSVP-Section .RSVP-description {
  color: black;
  display: flex;
  flex-direction: column;
}
.tool-management-container .RSVP-description span:first-child,
.RSVP-Section .RSVP-description span:first-child {
  font-size: 35px;
  font-weight: 700;
  line-height: 45px;
}
.tool-management-container .RSVP-description span:nth-child(2),
.RSVP-Section .RSVP-description span:nth-child(2) {
  padding-top: 20px;
  font-size: 16px;
  line-height: 24px;
  width: 80%;
  text-align: justify;
  letter-spacing: 0.5px;
}

.RSVP-Section .btn {
  margin: 20px 0px 20px 0px !important;
}

.RSVP-Section .btn a {
  border-radius: 5px;
  line-height: 35px;
  text-align: center;
  padding: 8px 40px;
  font-size: 15px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: black;
  border: 1px solid black;
  font-weight: 500;
}

.cau-parent-div {
  background-image: url(./../../../../../public/caurosolebg.png);
  border-radius: 25px;
  box-shadow: 10px 10px 5px 0px rgba(45, 39, 39, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(45, 39, 39, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(45, 39, 39, 0.75);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0px 20px;
}

.cau-parent-div .cau-content-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cau-parent-div .cau-content-parent .caur-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 30px 0px 40px 0px;
}

.cau-parent-div .cau-content-parent .caur-details span {
  font-size: 20px;
  font-weight: 700;
}
.cau-parent-div .slick-dots.slick-dots-bottom li {
  margin-right: 10px !important;
}

/* RSVP-sections ends here */

/* tool-management starts here */

.tool-management-container {
  background-image: url(./../../../../../public/tool-managment-bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 250px 100px 240px 100px;
}

.tool-management-container .RSVP-description {
  color: white;
  margin-bottom: 20px !important;
  margin-top: 50px !important;
}

.tool-left-container .btn a {
  border-radius: 5px;
  line-height: 35px;
  text-align: center;
  padding: 8px 40px;
  font-size: 15px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: black;
  background-color: #ffbf00;
  font-weight: 500;
}

.tool-management-container .tool-image-parent {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tool-management-container .inner-img {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tool-management-container .tool-image-parent > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tool-management-container .tool-image-parent > div img {
  width: 100%;
}

/* everything scale up section start here */
.everyting-scale-section {
  padding: 30px 100px 0px 100px;
  background-color: #ffbf00;
  margin-top: -4px !important;
}

.scale-right-section .icon-with-des {
  display: flex;
  margin-top: 18px !important;
  border-radius: 5px;
}

.scale-right-section .icon {
  height: 60px;
  width: 80px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scale-right-section .des {
  font-size: 14px;
  font-weight: 600;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(93, 93, 93, 1) 0%,
    rgba(43, 43, 45, 1) 73%,
    rgba(1, 0, 10, 1) 100%,
    rgba(6, 4, 37, 1) 100%,
    rgba(128, 128, 128, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 10px 50px 10px 20px;
  display: flex;
  align-items: center;
  color: white;
  width: 160px;
}

/* everything scale up section end here */

/* learn from best starts here  */

.learn-from-best .heading {
  font-size: 30px;
  color: white;
  font-weight: 700;
}

.learn-from-best .left-side {
  margin-right: 20px !important;
}

.learn-from-best .events-list-container {
  margin-top: 30px !important;
}

.events-list-container .eventa-events-main {
  background-image: url(./../../../../../public/events-bg.png);
  padding: 40px 0px 70px 40px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.3s ease-in-out;
}

.eventa-events-main .events-headers-main {
  display: flex;
  gap: 20px;
  align-items: center;
}

.eventa-events-main .events-headers-main span {
  color: #fc0;
  letter-spacing: 2px;
  font-weight: 700;
}

.eventa-events-main .event-calender-main {
  margin-top: 40px !important;
  display: flex;
  flex-direction: column;
  background-color: #fc0;
  width: fit-content;
  padding: 10px 20px;
  color: white;
  margin-top: 100px !important;
}

.eventa-events-main .event-calender-main span:first-child {
  font-size: 30px;
  font-weight: 700;
}

.eventa-events-main .event-calender-main span:nth-child(2) {
  font-size: 15px;
  font-weight: 500;
}
.events-list-container .event-main-title {
  margin-top: 20px !important;
  width: 400px;
}
.events-list-container .event-main-title span {
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  color: white;
}

.events-list-container .event-main-des {
  margin-top: 20px !important;
  width: 500px;
}
.events-list-container .event-main-des span {
  font-size: 14px;
  color: white;
}

.events-list-container .eventa-events-sec.sce-1 {
  background-image: url(./../../../../../public//party-1.png);
  padding: 10px 0px 20px 10px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 20px !important;
  transition: all 0.3s ease-in-out;
}

.events-list-container .eventa-events-sec.sce-2 {
  background-image: url(./../../../../../public/party-2.png);
  padding: 10px 0px 20px 10px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 20px !important;
  transition: all 0.3s ease-in-out;
}

.events-list-container .eventa-events-sec.sce-3 {
  background-image: url(./../../../../../public/party-3.png);
  padding: 10px 0px 20px 10px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.3s ease-in-out;
}

.eventa-events-sec .events-headers-sec {
  display: flex;
  gap: 10px;
  align-items: center;
}

.eventa-events-sec .events-headers-sec span {
  color: #fc0;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 10px;
}

.eventa-events-sec .event-calender-sec {
  margin-top: 10px !important;
  display: flex;
  flex-direction: column;
  background-color: #fc0;
  width: fit-content;
  padding: 5px 10px;
  color: white;
  margin-top: 20px !important;
}

.eventa-events-sec .event-calender-sec span:first-child {
  font-size: 14px;
  font-weight: 700;
}

.eventa-events-sec .event-calender-sec span:nth-child(2) {
  font-size: 10px;
  font-weight: 500;
}

.events-list-container .event-sec-title {
  margin-top: 20px !important;
  width: 200px;
}
.events-list-container .event-sec-title span {
  font-size: 23px;
  font-weight: 700;
  line-height: 25px;
  color: white;
}

.events-list-container .event-sec-des {
  margin-top: 10px !important;
  width: 300px;
}
.events-list-container .event-sec-des span {
  font-size: 12px;
  color: white;
}

.events-list-container .left-side .text-space-container {
  margin-top: 20px !important;
  border: 1px solid #707070;
  padding: 20px 40px;
  border-radius: 5px;
}

.events-list-container .left-side .text-space-container .heading {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  font-size: 30px;
  font-weight: 700;
}

.events-list-container .left-side .text-space-container .descriptions {
  width: 700px;
  color: white;
  margin-top: 20px !important;
}

.events-list-container .left-side .text-space-container .descriptions span {
  font-size: 14px;
  line-height: 25px;
}

.events-list-container .left-side .text-space-container .input-container {
  background-color: white;
  width: 300px !important;
  position: relative;
  margin-top: 20px !important;
  border-radius: 5px;
}

.events-list-container .left-side .text-space-container .input-container input {
  width: 250px !important;
  border: none;
  height: 40px;
}

.events-list-container
  .left-side
  .text-space-container
  .input-container
  .input-field:focus {
  outline: none;
  box-shadow: none;
}

.events-list-container .left-side .text-space-container .input-container span {
  position: absolute;
  right: 8px;
  top: 3px;
  cursor: pointer;
}

.eventa-events-main:hover,
.eventa-events-sec:hover {
  transform: scale(1.02);
}

/* learn from best ends here  */

/* what-clients-say start here  */

.clients-section {
  margin-top: 100px !important;
  background-color: #ffbf00;
  padding: 50px 100px 0px 100px;
}
.what-clients-say .heading {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px !important;
}

.what-clients-say .mySwiper {
  height: 360px;
}

.what-clients-say
  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: flex !important;
  justify-content: center !important;
  gap: 5px !important;
}

.what-clients-say .swiper-container-div {
  padding: 20px 30px 20px 30px;
  background-color: black;
  border-radius: 5px;
  margin-right: 20px !important;
}
.what-clients-say .swiper-container-div .pic-quotation {
  display: flex;
  justify-content: space-between;
}

.what-clients-say .swiper-container-div .pic-quotation img {
  height: 60px;
  width: 60x;
}

.what-clients-say .swiper-container-div .des {
  font-size: 14px;
  color: #ffbf00;
  padding-top: 20px !important;
  text-align: justify;
}

.what-clients-say .swiper-container-div .name-star {
  margin-top: 20px !important;
  color: #ffbf00;
  display: flex;
  gap: 20px;
  font-weight: 700;
}

.what-clients-say .swiper-container-div .name-star span:nth-child(2) {
  display: flex;
  gap: 2px;
}

.what-clients-say .swiper-container-div .designation {
  color: #ffbf00;
  font-size: 13px;
  font-weight: 300;
}

/* what-clients-say emd here  */

/* user counting starts here  */
.user-count-info {
  background-image: url(./../../../../../public/user-count.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0px 100px 0px;
  color: #ffbf00;
}
.user-count-info .main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-count-info .main-container .heading {
  margin-top: 20px !important;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.user-count-info .main-container .heading span:first-child {
  font-size: 35px;
  font-weight: 600;
}

.user-count-info .main-container .heading span:nth-child(2) {
  font-size: 15px;
}

.main-container .btns {
  display: flex;
  gap: 20px;
  margin-top: 30px !important;
  align-items: center;
}

.main-container .btns a {
  margin: 1rem auto;
  border-radius: 5px;
  line-height: 35px;
  text-align: center;
  padding: 8px 40px;
  font-size: 15px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.main-container .btns a:first-child {
  color: black;
  background-color: #fc0;
  font-weight: 500;
}

.main-container .btns a:nth-child(2) {
  border: 1px solid #fc0;
  color: #fc0;
}

/* user counting ends here  */

/* footer part start here  */

.homepage-footer {
  border-bottom: 5px solid #ffbf00;
}

.home-footer-container {
  background-image: url(./../../../../../public/footer-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px 100px 0px 100px;
}

.home-footer-container .logo img {
  width: 200px;
}

.footer-left-side .footer-desc {
  display: flex;
  flex-direction: column;
  margin-top: 20px !important;
  color: #ffbf00;
}

.footer-left-side .input-container {
  background-color: rgba(159, 160, 162, 0.403);
  width: 300px !important;
  position: relative;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  border-radius: 5px;
}

.footer-left-side .input-container input {
  width: 250px !important;
  border: none;
  height: 40px;
  background-color: rgb(106 109 116 / 0%);
  color: white;
}
.footer-left-side .input-container input::placeholder {
  color: white;
}

.footer-left-side .input-container .input-field:focus {
  outline: none;
  box-shadow: none;
}

.footer-left-side .input-container span {
  position: absolute;
  right: 8px;
  top: 3px;
  cursor: pointer;
}

.home-footer-container .footer-right-container {
  display: flex;
  justify-content: space-between;
}

.home-footer-container .footer-right-container > div span {
  font-size: 16px;
  color: #ffbf00;
}

.home-footer-container .footer-right-container ul {
  padding-left: 0px;
  margin-top: 15px !important;
  font-size: 12px;
  color: #ffbf00;
}

.home-footer-container .footer-right-container ul li {
  list-style: none;
}

.home-footer-container .break {
  height: 2px;
  background-color: #ffbf00;
  margin-bottom: 20px;
}

.social-icons {
  padding: 20px 0px 20px 0px;
}

.home-footer-container .below-options {
  display: flex;
  gap: 20px;
  color: #999999;
}

.home-footer-container .social-icons {
  display: flex;
  gap: 10px;
  justify-content: end;
}

/* footer part end here  */

/* qna_section start here  */

.hoempage-qna-section {
  padding: 50px 100px 50px 100px;
}

.hoempage-qna-section .heading {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 50px !important;
  color: #ffbf00;
}

.accordion {
  font-size: 17px;
  margin: 0 20px;
}

.accordion > div {
  background-color: #ffbf00;
  border-radius: 5px;
  margin-bottom: 20px !important;
}

.accordion__button {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: inherit;
  color: black;
  background-color: #ffbf00;
  border-radius: 10px;
  font-weight: 600;
}

.acc-image-container img {
  width: 85%;
  margin-left: 50px !important;
}

.accordion__button span {
  height: 30px;
  width: 33px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #000;
  font-size: 15px;
  border: 2px solid #f46601;
}

.accordion__button:focus {
  outline: none;
}

.accordion__content {
  padding: 0 20px;
  opacity: 0;
  transition: all 0.5s;
  height: 0;
  margin: 0;
  border-top: 0;
  font-size: 14px;
}

.accordion__content.active {
  height: auto;
  opacity: 1;
  padding: 20px;
}

.ant-drawer-content {
  background: #001529 !important;
}

.mobile-menu .ant-menu {
  margin-top: 20px !important;
  font-size: 20px;
}

.mobile-menu .ant-menu-item {
  color: #fdca31 !important;
  margin-top: 10px !important;
}

/* for mobile responsive  */
@media (min-width: 320px) {
  .dep-hero-right-side .title {
    font-size: 40px;
    line-height: 42px;
  }
  .desktop-menu {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  .common-margin-top-mobile {
    margin-top: 30px !important;
  }
  .events-list-container .event-sec-title {
    width: 90%;
  }
  .events-list-container .event-sec-des {
    width: 90%;
  }
  .events-list-container .left-side .text-space-container .descriptions {
    width: 90%;
  }
  .events-list-container .event-main-des {
    width: 90%;
  }
  .home-page-basic-mx {
    padding: 50px 10px 0px 20px;
  }
  .dep-hero-right-side .dep-peoples-with-info {
    flex-direction: column;
  }
  .dep-hero-right-side .btns {
    flex-direction: column;
  }
  .tool-management-container {
    padding: 50px 10px 180px 10px;
    background-image: none;
    background-color: #322f30;
  }
  .tool-management-container .RSVP-description span:first-child,
  .RSVP-Section .RSVP-description span:first-child {
    font-size: 20px;
    line-height: 30px;
  }
  .tool-management-container .RSVP-description span:nth-child(2),
  .RSVP-Section .RSVP-description span:nth-child(2) {
    font-size: 13px;
    line-height: 20px;
  }
  .everyting-scale-section {
    padding: 30px 10px 20px 30px;
    margin-top: -80px !important;
  }
  .events-list-container .eventa-events-main {
    padding: 40px 0px 40px 40px;
  }
  .events-list-container .event-main-title span {
    font-size: 30px;
    line-height: 40px;
  }
  .events-list-container .event-main-title {
    width: 90%;
  }
  .events-list-container .left-side .text-space-container .input-container {
    width: 95% !important;
  }

  .events-list-container
    .left-side
    .text-space-container
    .input-container
    input {
    width: 95%;
  }

  .events-list-container
    .left-side
    .text-space-container
    .input-container
    span {
    right: 2%;
    top: 3px;
  }

  .clients-section {
    padding: 50px 10px 0px 10px;
  }

  .user-count-info .main-container .heading span:first-child {
    font-size: 25px;
    font-weight: 600;
  }

  .user-count-info .main-container .heading span:nth-child(2) {
    font-size: 13px;
  }
  .main-container .btns {
    flex-direction: column;
  }

  .hoempage-qna-section {
    padding: 50px 10px 50px 10px;
  }

  .home-footer-container {
    padding: 50px 10px 0px 10px;
  }
  .tool-management-container .tool-image-parent {
    display: none;
  }
}

@media (min-width: 576px) {
  .desktop-menu {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  .common-margin-top-mobile {
    margin-top: 30px !important;
  }
  .events-list-container .event-sec-title {
    width: 90%;
  }
  .events-list-container .event-sec-des {
    width: 90%;
  }
  .events-list-container .left-side .text-space-container .descriptions {
    width: 90%;
  }
  .events-list-container .event-main-des {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .home-page-basic-mx {
    padding: 50px 50px 0px 50px;
  }
  .dep-hero-right-side .title {
    font-size: 70px;
    line-height: 72px;
  }
  .desktop-menu {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  .common-margin-top-mobile {
    margin-top: 30px !important;
  }
  .events-list-container .event-sec-title {
    width: 90%;
  }
  .events-list-container .event-sec-des {
    width: 90%;
  }
  .events-list-container .left-side .text-space-container .descriptions {
    width: 90%;
  }
  .events-list-container .event-main-des {
    width: 90%;
  }
  .dep-hero-right-side .dep-peoples-with-info {
    flex-direction: row;
  }
  .dep-hero-right-side .btns {
    flex-direction: row;
  }
  .tool-management-container {
    padding: 250px 100px 240px 100px;
    background-image: url(./../../../../../public/tool-managment-bg.webp);
  }
  .everyting-scale-section {
    padding: 30px 100px 0px 100px;
    margin-top: -4px !important;
  }
  .events-list-container .eventa-events-main {
    padding: 40px 0px 70px 40px;
  }
  .events-list-container .event-main-title span {
    font-size: 45px;
    line-height: 50px;
  }
  .events-list-container .event-main-title {
    width: 400px;
  }
  .events-list-container .left-side .text-space-container .input-container {
    width: 300px !important;
  }

  .events-list-container
    .left-side
    .text-space-container
    .input-container
    input {
    width: 250px !important;
  }

  .events-list-container
    .left-side
    .text-space-container
    .input-container
    span {
    right: 8px;
    top: 3px;
  }
  .clients-section {
    padding: 50px 100px 0px 100px;
  }

  .tool-management-container .RSVP-description span:first-child,
  .RSVP-Section .RSVP-description span:first-child {
    font-size: 35px;
    line-height: 45px;
  }
  .tool-management-container .RSVP-description span:nth-child(2),
  .RSVP-Section .RSVP-description span:nth-child(2) {
    font-size: 16px;
    line-height: 24px;
  }

  .user-count-info .main-container .heading span:first-child {
    font-size: 35px;
    font-weight: 600;
  }

  .user-count-info .main-container .heading span:nth-child(2) {
    font-size: 15px;
  }

  .main-container .btns {
    flex-direction: row;
  }

  .hoempage-qna-section {
    padding: 50px 110px 50px 100px;
  }

  .home-footer-container {
    padding: 50px 100px 0px 100px;
  }
  .tool-management-container .tool-image-parent {
    display: flex;
  }
}

@media (min-width: 992px) {
  .home-page-basic-mx {
    padding: 50px 100px 0px 100px;
  }
  .desktop-menu {
    display: flex;
  }
  .mobile-menu {
    display: none;
  }
  .common-margin-top-mobile {
    margin-top: 0px !important;
  }
  .events-list-container .event-sec-title {
    width: 200px;
  }
  .events-list-container .event-sec-des {
    width: 300px;
  }
  .events-list-container .left-side .text-space-container .descriptions {
    width: 700px;
  }
  .events-list-container .event-main-des {
    width: 500px;
  }
}

@media (min-width: 1400) {
}
