.forget-pass-parent {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #323640;
}

.card-container {
  width: 400px;
  min-width: 300px;
  background: black !important;
  border: none !important;
}
.ant-form-item-required {
  color: white !important;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
